<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
  <session-factory>
    <!--  Paramètres de connexion à la base de données -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/papaoutai</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">adminadmin</property>

    <!-- Comportement pour la conservation des tables -->
    <property name="hbm2ddl.auto">create</property>

    <!-- Fichiers à mapper -->
    <mapping class="model.ContenirTermeDB" />
    <mapping class="model.ContenirTypesDB" />
    <mapping class="model.DocumentDB" />
    <mapping class="model.SituerDB" />
    <mapping class="model.TermesDB" />
    <mapping class="model.TypesDB" />
  	<mapping class="model.IndexInverseDB" />
    <mapping class="model.TfIdfDB" />

  </session-factory>
</hibernate-configuration>
